@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "partials/params";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat:300,300i,400,500,600,700,700i,900&display=swap');


@import "partials/loader";
@import "partials/utils";
@import "partials/burger";
@import "partials/title";
@import "partials/button";
@import "partials/projectsCard";
@import "partials/paragraphs";

@import "menuItems";
@import "navbar";
@import "navbarMenu";
@import "header";
@import "portfolio";
@import "services";
@import "partners";
@import "request";
@import "footer";
@import "notfound";
@import "requestForm";
@import "projects";
@import "contacts";
@import "about";
@import "singlePortfolio";
@import "fonts";

html, body, p, div, h1, h2, h3, h4, h5, h6, ul, ol, li, a {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: $blue;
  text-decoration: underline;
  font-size: 22px;
  font-weight: 300;
  &:hover {
    color: $orange;
  }
}

.container, .container-fluid {
  padding-right: 0;
  padding-left: 0;
}
::selection {
  color: $blue;
  background: $orange;
}
::-moz-selection {
  color: $blue;
  background: $orange;
}
.link-with-icon {
  display: inline-block;
  i {
    position: relative;
    top: 4px;
    font-size: 26px;
    line-height: 18px;
    margin-right: 15px;
  }
}
.link-with-icon:hover {
  text-decoration: none;
  span {
    text-decoration: underline;
  }
}



